body{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
 }
 
 
 H1{
    color: white;
 }
 
 
 .caixa-principal{
    background-color: rgb(75, 73, 73);
    width: 90%;
    text-align: center;
    padding: 20px;
 }
 
 
 